.timetable {
  @apply mx-0 grid auto-rows-fr grid-cols-5;
  @apply gap-[.1em] bg-slate-200;
}

.show-7-days {
  @apply grid-cols-7;
}

.course-preview {
  @apply max-w-full truncate text-center text-xs font-light text-slate-900;
}

.course-title {
  @apply mb-0.5 truncate text-sm font-semibold text-slate-600;
}

.cell {
  @apply relative flex  flex-col items-center justify-center bg-white px-3 py-2 text-sm  focus:outline-none md:text-base;
  @apply transition-all hover:bg-slate-100;
  duration: 80ms;
}

@media screen and (max-width: 768px) {
  .timetable-title {
    word-spacing: 999px;
  }

  .show-7-days {
    @apply mx-0  bg-slate-50;
    @apply gap-x-0;
  }

  .cell {
    @apply border-0 text-base font-normal text-slate-900 shadow-sm md:text-lg;
  }

  .show-7-days .cell {
    @apply font-light md:text-base px-[.3em];
  }

  .show-7-days .course-title {
    @apply text-xs font-semibold md:text-lg;
  }

  .course-title {
    @apply text-sm font-medium leading-5;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
