@tailwind base;
@tailwind components;
@tailwind utilities;
@import './Tooltip.css';

[multiple]:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
select:focus,
textarea:focus {
  --tw-ring-inset: var(--tw-empty, /*!; /*!*/);
  */--tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #1c64f2;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  border-color: #1c64f2;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

:root {
  --container-color: #fff;
  --hue: 152;
}

.test {
  background-image: linear-gradient(
    90deg,
    rgb(230, 73, 128) 5%,
    rgb(255, 135, 135) 95%
  );
}


